{% load static %}
<!doctype html>
<html lang="en">
{% include 'expendable/head.html' %}

<body id="top">
{% include 'expendable/chatbot_and_loading.html' %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    {% include 'expendable/navbar.html' %}

    <!-- HOME -->
    <section class="section-hero home-section overlay inner-page bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 text-center mb-5">
                    <h1 class="text-white font-weight-bold">Welcome to the thesis finder section</h1>
                    <p class="text-white font-weight-bold">Find member for your thesis!</p>
                </div>
                <div class="col-md-12">
                    <form method="post" class="search-jobs-form">
                        <div class="row mb-5 justify-content-center">
                            <div class="col-5">
                                <input type="text" class="form-control form-control-lg"
                                       placeholder="Machine Learning...">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">
                                    <span class="icon-search icon mr-2"></span>Search
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 popular-keywords">
                                <!-- Keywords content goes here -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#next" class="scroll-button smoothscroll">
            <span class=" icon-keyboard_arrow_down"></span>
        </a>
    </section>


    <section class="site-section" id="next">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    {% if thesis.count > 1 %}
                        <h2 class="section-title mb-2">{{ thesis.count }} Members are registered</h2>
                    {% else %}
                        <h2 class="section-title mb-2">{{ thesis.count }} Member is registered</h2>
                    {% endif %}
                </div>
            </div>

            <ul class="job-listings mb-5">
                {% for profile in thesis %}
                    <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <a href="{% url 'thesis_finder_single' profile.id %}"></a>
                        <div class="job-listing-logo">
                            {% if profile.profile_picture %}
                                <img src="{{ profile.profile_picture.url }}" alt="Item Image" class="img-fluid">
                            {% else %}
                                <img src="{% static 'images/smartuiu.png' %}" alt="Default Image"
                                     class="img-fluid">
                            {% endif %}
                        </div>

                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                <h2>{{ profile.name }}</h2>
                                <p>{{ profile.department }}<br>{{ profile.university_id }}</p>

                            </div>

                            <div class="mb-3">
                                <span class="badge badge-success">{{ thesis.availability|yesno:"Unavailable,Available" }}</span>

                                <br>
                                <span class="badge badge-success">
                        {{ profile.skills }}
                    </span>
                                <br>
                                <span class="badge badge-success">
                        {{ profile.research_interests }}
                    </span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <span>Showing {{ items.count }} Of {{ items.count }} Items</span>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <a href="#" class="prev">Prev</a>
                        <div class="d-inline-block">
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                        </div>
                        <a href="#" class="next">Next</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="text-white">Want to register your information?</h2>
                    <p class="mb-0 text-white lead">Click on the create profile button let others find you!.</p>
                </div>
                <div class="col-md-3 ml-auto">
                    {% if user %}
                        <a href="#" class="btn btn-warning btn-block btn-lg"
                           onclick="alert('you already created an account')">Create Profile</a>
                    {% else %}
                        <a href="{% url 'thesis_finder_create_profile' %}" class="btn btn-warning btn-block btn-lg">Create
                            Profile</a>
                    {% endif %}

                    {% if user %}
                        <a href="{% url 'thesis_finder_profile' %}" class="btn btn-warning btn-block btn-lg">Edit My
                            Profile</a>
                    {% else %}
                        <a href="#" class="btn btn-warning btn-block btn-lg"
                           onclick="alert('No profile available to edit')">Edit My Profile</a>
                    {% endif %}

                    <a href="{% url 'thesis_finder_group' %}" class="btn btn-warning btn-block btn-lg">Create
                        Group</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'expendable/footer.html' %}


</div>

{% include 'expendable/include.html' %}

</body>
</html>