{% load static %}
<!doctype html>
<html lang="en">
{% include 'expendable/head.html' %}
<body id="top">
{% include 'expendable/chatbot_and_loading.html' %}
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'expendable/navbar.html' %}

    <section class="home-section section-hero overlay bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold">Welcome</h1>
                        <p>Smart UIU: Empowering your university journey.</p>
                    </div>
                    <form method="post" class="search-jobs-form">
                        <div class="row mb-5">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <input type="text" class="form-control form-control-lg"
                                       placeholder="academic resources, more...">
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%"
                                        data-live-search="true" title="Select Category">
                                    <option>Academic Resource</option>
                                    <option>Home Finder</option>
                                    <option>Lost and Found</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%"
                                        data-live-search="true" title="Select Type">
                                    <option>Fully Matched</option>
                                    <option>Partially Matched</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                <button type="submit" onclick="login_check()"
                                        class="btn btn-primary btn-lg btn-block text-white btn-search">
                                    <span class="icon-search icon mr-2"></span>Search
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 popular-keywords">
                                <h3>Trending Keywords:</h3>
                                <ul class="keywords list-unstyled m-0 p-0">
                                    <li><a href="#" class="">Artificial Intelligence</a></li>
                                    <li><a href="#" class="">Python Developer</a></li>
                                    <li><a href="#" class="">Software Engineer</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <a href="#next" class="scroll-button smoothscroll">
            <span class=" icon-keyboard_arrow_down"></span>
        </a>

    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="text-white">Are you a new student of UIU?</h2>
                    <p class="mb-0 text-white lead">Just sign up and make your life easy at UIU!</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <a href="{% url 'signup' %}" class="btn btn-warning btn-block btn-lg">Click here to know about
                        SmartUIU!</a>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section py-4">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-12 text-center mt-4 mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <h2 class="section-title mb-2">Find What You Need</h2>
                            <p class="lead">The website is designed to find all sorts of necessary information about
                                UIU.
                                Moreover, this website also has features like Home Finder, Thesis Member Finder, Lost
                                and Found, Course Material, Marketplace etc.</p>
                        </div>
                    </div>

                </div>

                <!-- Clickable Icon Containers -->
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <a href="{% url 'homepage' %}" class="icon-container">
                        <img src="{% static 'images/house.jpg' %}" alt="Home Finder" class="img-fluid logo-1">
                        <p class="icon-name">Home Finder</p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <a href="{% url 'homepage' %}" class="icon-container">
                        <img src="{% static 'images/book.jpg' %}" alt="Course Material" class="img-fluid logo-1">
                        <p class="icon-name">Course Material</p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <a href="{% url 'thesis_finder' %}" class="icon-container">
                        <img src="{% static 'images/course.jpg' %}" alt="Thesis Finder" class="img-fluid logo-1">
                        <p class="icon-name">Thesis Finder</p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center">
                    <a href="{% url 'lost_and_found' %}" class="icon-container">
                        <img src="{% static 'images/find.jpg' %}" alt="Lost and Found" class="img-fluid logo-1">
                        <p class="icon-name">Lost and Found</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include 'expendable/about.html' %}

    <section class="pt-5 bg-image overlay-primary fixed overlay"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">

                </div>
            </div>
        </div>
    </section>

    {% include 'expendable/footer.html' %}
    {% include 'expendable/include.html' %}

</div>

<script>
    function login_check() {
        alert("Still Working");
    }
</script>

</body>
</html>