{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>UIU Job Bank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/quill.snow.css' %}">
    <link rel="shortcut icon" href="{% static 'images/uiu.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="top">
<div class="messenger-icon" id="messenger-icon" onclick="toggleChatContainer()">
    <span class="icon-chat"></span>
</div>
<div class="chat-container" id="chat-container">
    <div class="chat-header">
        UIU Chatbot
    </div>
    <div class="chat-box" id="chat-box">
        <div class="bot-msg">Hello! How can I help you?</div>
    </div>
    <div class="input-container">
        <input type="text" class="user-input" id="user-input" placeholder="Type your message...">
        <button class="send-button" onclick="sendMessage()">Send</button>
    </div>
</div>

<div id="overlayer"></div>
<div class="loader">
    <img src="{% static 'images/smartuiu.png' %}" alt="Loading..." height="447" width="559" align="center">
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6">
                    {% load static %}

                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/uiu.jpg' %}" alt="logo" height="70px" width="80px" align="center">
                    </a>

                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/smartuiu.png' %}" alt="logo" height="110px" width="130px"
                             align="center">
                    </a>

                </div>
                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
                        <li><a href="{% url 'index' %}" class="nav-link active" onclick="login_check()">Academic</a></li>
                        <li><a href="{% url 'index' %}" class="nav-link active" onclick="login_check()">Research</a></li>
                        <li><a href="{% url 'index' %}" class="nav-link active" onclick="login_check()">Blog</a></li>
                        <li><a href="{% url 'developers' %}" class="nav-link active">Developers</a></li>
                        <li><a href="{% url 'contacts' %}" class="nav-link active">Contacts</a></li>
                        <li class="d-lg-none"><a href="login.html">Log In</a></li>
                        <li class="d-lg-none"><a href="login.html">Sign In</a></li>
                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                    <div class="ml-auto">
                        <a href="{% url 'login' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block">
                            <span class="mr-2 icon-lock_outline"></span>Log In
                        </a>
{#                        <a href="{% url 'signup' %}"#}
{#                           class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span#}
{#                                class="mr-2 icon-lock_outline"></span>Sign Up</a>#}
                    </div>
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

            </div>
        </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Sign Up</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Sign Up</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form id="signup-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <section class="site-section">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4">
                    <h2 class="mb-4">Sign Up</h2>

                    <input type="hidden" id="user_type" name="user_type" value="">
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="username_signup">Username</label>
                            <input type="text" id="username_signup" name="username" class="form-control"
                                   placeholder="Username">
                            <div id="username_warning" class="text-danger"></div>
                            <!-- Warning message for first name -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="first_name_signup">First Name</label>
                            <input type="text" id="first_name_signup" name="first_name" class="form-control"
                                   placeholder="First Name">
                            <div id="first_name_warning" class="text-danger"></div>
                            <!-- Warning message for first name -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="last_name_signup">Last Name</label>
                            <input type="text" id="last_name_signup" name="last_name" class="form-control"
                                   placeholder="Last Name">
                            <div id="last_name_warning" class="text-danger"></div>
                            <!-- Warning message for last name -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="email_signup">Email</label>
                            <input type="email" id="email_signup" name="email" class="form-control" placeholder="Email">
                            <div id="email_warning" class="text-danger"></div> <!-- Warning message for email -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="password_signup">Password</label>
                            <input type="password" id="password_signup" name="password" class="form-control"
                                   placeholder="Password">
                            <div id="password_warning" class="text-danger"></div> <!-- Warning message for password -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="retype_password_signup">Retype Password</label>
                            <input type="password" id="retype_password_signup" name="retype_password"
                                   class="form-control"
                                   placeholder="Retype Password">
                            <div id="retype_password_warning" class="text-danger"></div>
                            <!-- Warning message for retype password -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Sign Up" class="btn px-4 btn-primary text-white">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <script>
        document.getElementById("signup-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Retrieve form values
            var email = document.getElementById("email_signup").value;
            var username = document.getElementById("username_signup").value;
            var fn = document.getElementById("first_name_signup").value;
            var sn = document.getElementById("last_name_signup").value;
            var password = document.getElementById("password_signup").value;
            var rt_password = document.getElementById("retype_password_signup").value;

            var typet = validateEmail(email);
            document.getElementById("user_type").value = typet;

            clearWarnings();

            if (fn === "") {
                showWarning("first_name_warning", "Firstname can't be blank.");
            }
            if (sn === "") {
                showWarning("last_name_warning", "Lastname can't be blank.");
            }
            if (username === "") {
                showWarning("username_warning", "Username can't be blank.");
            }
            if (email === "") {
                showWarning("email_warning", "Enter a valid email.");
            }
            if (password !== rt_password) {
                showWarning("password_warning", "Passwords do not match.");
                showWarning("retype_password_warning", "Passwords do not match.");
            }
            if (password.length <= 6) {
                showWarning("password_warning", "Password must be more than six characters.");
            }
            if (email !== "" && typet === "n") {
                showWarning("email_warning", "The email you have entered is not a valid UIU email.");
            }
            if (rt_password.length <= 6) {
                showWarning("retype_password_warning", "Password must be more than six characters.");
            }

            // If all validations pass, submit the form
            if (fn !== "" && sn !== "" && email !== "" && typet !== "n" && password !== "" && password.length > 6 && password === rt_password) {
                var formData = new FormData(this); // Capture form data
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'signup' %}", true); // Replace 'signup' with your Django URL pattern name
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Include CSRF token

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.status === 'success') {
                                alert(response.message);
                                window.location.href = "{% url 'verification' %}";
                            } else {
                                alert(response.message);
                            }
                        }
                    }
                };

                xhr.send(formData);
            }
        });

        function validateEmail(email) {
            var patternBSCSE = /^[A-Za-z0-9._%+-]+@bscse\.uiu\.ac\.bd$/;
            var patternBSEDS = /^[A-Za-z0-9._%+-]+@bseds\.uiu\.ac\.bd$/;
            var patternBSMSJ = /^[A-Za-z0-9._%+-]+@bsmsj\.uiu\.ac\.bd$/;
            var patternBSCE = /^[A-Za-z0-9._%+-]+@bsce\.uiu\.ac\.bd$/;
            var patternBSEEE = /^[A-Za-z0.9._%+-]+@bseee\.uiu\.ac\.bd$/;
            var patternBSBBA = /^[A-Za-z0-9._%+-]+@bsbba\.uiu\.ac\.bd$/;

            var patternCSE = /^[A-Za-z0-9._%+-]+@cse\.uiu\.ac\.bd$/;
            var patternEDS = /^[A-Za-z0-9._%+-]+@eds\.uiu\.ac\.bd$/;
            var patternMSJ = /^[A-Za-z0-9._%+-]+@msj\.uiu\.ac\.bd$/;
            var patternCE = /^[A-Za-z0-9._%+-]+@ce\.uiu\.ac\.bd$/;
            var patternEEE = /^[A-Za-z0-9._%+-]+@eee\.uiu\.ac\.bd$/;
            var patternBBA = /^[A-Za-z0-9._%+-]+@bba\.uiu\.ac\.bd$/;

            var patternUIU = /^[A-Za-z0-9._%+-]+@uiu\.ac\.bd$/;
            var patternADMIN = /^[A-Za-z0-9._%+-]+@admin\.bscse\.uiu\.ac\.bd$/;

            if (patternBSCSE.test(email) ||
                patternBSCE.test(email) ||
                patternBSEDS.test(email) ||
                patternBSEEE.test(email) ||
                patternBSMSJ.test(email) ||
                patternBSBBA.test(email))
                return "student";
            else if (patternUIU.test(email) ||
                patternADMIN.test(email) ||
                patternCSE.test(email) ||
                patternCE.test(email) ||
                patternMSJ.test(email) ||
                patternEEE.test(email) ||
                patternEDS.test(email) ||
                patternBBA.test(email))
                return "faculty";
            return "n";
        }

        function clearWarnings() {
            document.getElementById("email_warning").textContent = "";
            document.getElementById("first_name_warning").textContent = "";
            document.getElementById("last_name_warning").textContent = "";
            document.getElementById("password_warning").textContent = "";
            document.getElementById("retype_password_warning").textContent = "";

            document.getElementById("email_signup").classList.remove("error-border");
            document.getElementById("first_name_signup").classList.remove("error-border");
            document.getElementById("last_name_signup").classList.remove("error-border");
            document.getElementById("password_signup").classList.remove("error-border");
            document.getElementById("retype_password_signup").classList.remove("error-border");
        }

        function showWarning(elementId, message) {
            document.getElementById(elementId).textContent = message;
            document.getElementById(elementId.replace("_warning", "")).classList.add("error-border");
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>


    <footer class="site-footer">

        <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
        </a>

        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Search Trending</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Web Developers</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Contact Us</h3>
                    <div class="footer-social">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">
                    <p class="copyright"><small>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://binarybrains.com" target="_blank">BinaryBrains</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/stickyfill.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/quill.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/chatbot.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>