{% load static %}
<!doctype html>
<html lang="en">
{% include 'expendable/head.html' %}

<body id="top">
{% include 'expendable/chatbot_and_loading.html' %}


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
{% include 'expendable/navbar.html' %}


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('{% static "images/hero_1.jpg" %}');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Post an item</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <a href="{% url 'lost_and_found' %}">Lost & Found</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Post an item</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <form class="p-5 p-md-5 border rounded" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="text-black mb-5 border-bottom pb-2">Item Details</h3>

        <div class="form-group">
            <label for="company-website-tw d-block">Upload Item's Image</label> <br>
            <label class="btn btn-primary btn-md btn-file">
                Browse File<input type="file" name="item_image" hidden>
            </label>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="e.g. you@yourdomain.com">
        </div>
        <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="e.g. 01700000000">
        </div>
        <div class="form-group">
            <label for="item_name">Item's Name</label>
            <input type="text" class="form-control" name="item_name" placeholder="e.g. iPhone 13 Pro">
        </div>
        <div class="form-group">
            <label for="location">Where you found it</label>
            <input type="text" class="form-control" name="location" placeholder="e.g. canteen">
        </div>
        <div class="form-group">
            <label for="time_date">Time & Date</label>
            <input type="text" class="form-control" name="time_date" placeholder="Select time and date">
        </div>

        <div class="form-group">
            <label for="description">Item's Description</label>
            <textarea class="form-control" name="description" id="editor-1"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-md">Post</button>

        <script>
            CKEDITOR.replace('editor-1');
        </script>
    </form>

{% include 'expendable/footer.html' %}

</div>

{% include 'expendable/include.html' %}



</body>
</html>