{% load static %}
<!doctype html>
<html lang="en">
<title>UIU Job Bank</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="author" content="Free-Template.co"/>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<link rel="shortcut icon" href="{% static 'images/uiu.jpg' %}">
<link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}"><!-- MAIN CSS -->
</head>

<body id="top">
<div class="messenger-icon" id="messenger-icon" onclick="toggleChatContainer()">
    <span class="icon-chat"></span>
</div>
<div class="chat-container" id="chat-container">
    <div class="chat-header">
        UIU Chatbot
    </div>
    <div class="chat-box" id="chat-box">
        <div class="bot-msg">Hello! How can I help you?</div>
    </div>
    <div class="input-container">
        <input type="text" class="user-input" id="user-input" placeholder="Type your message...">
        <button class="send-button" onclick="sendMessage()">Send</button>
    </div>
</div>

<div id="overlayer"></div>
<div class="loader">
    <img src="{% static 'images/smartuiu.png' %}" alt="Loading..." height="447" width="559" align="center">
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6">
                    {% load static %}

                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/uiu.jpg' %}" alt="logo" height="70px" width="80px" align="center">
                    </a>

                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/smartuiu.png' %}" alt="logo" height="110px" width="130px"
                             align="center">
                    </a>

                </div>
                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
                        <li><a href="{% url 'index' %}" class="nav-link active" onclick="login_check()">Academic</a>
                        </li>
                        <li><a href="{% url 'index' %}" class="nav-link active" onclick="login_check()">Research</a>
                        </li>
                        <li><a href="{% url 'index' %}" class="nav-link active" onclick="login_check()">Blog</a></li>
                        <li><a href="{% url 'developers' %}" class="nav-link active">Developers</a></li>
                        <li><a href="{% url 'contacts' %}" class="nav-link active">Contacts</a></li>
                        <li class="d-lg-none"><a href="login.html">Log In</a></li>
                        <li class="d-lg-none"><a href="login.html">Sign In</a></li>
                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex align-items-center col-6">
                    <div class="ml-auto d-flex align-items-center">
                        <div class="user-menu dropdown">
                            <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
        <span class="user-icon">
            <i class="fas fa-user-circle fa-2x"></i>
        </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'login' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'login' %}">Dashboard</a>
                                <a class="dropdown-item" href="{% url 'login' %}">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3">
                        <span class="icon-menu h3 m-0 p-0 mt-2"></span>
                    </a>
                </div>

            </div>
        </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('{% static "images/hero_1.jpg" %}');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Post an item</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <a href="{% url 'lost_and_found' %}">Lost & Found</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Post an item</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <form class="p-5 p-md-5 border rounded" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="text-black mb-5 border-bottom pb-2">Item Details</h3>

        <div class="form-group">
            <label for="company-website-tw d-block">Upload Item's Image</label> <br>
            <label class="btn btn-primary btn-md btn-file">
                Browse File<input type="file" name="item_image" hidden>
            </label>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="e.g. you@yourdomain.com">
        </div>
        <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="e.g. 01700000000">
        </div>
        <div class="form-group">
            <label for="item_name">Item's Name</label>
            <input type="text" class="form-control" name="item_name" placeholder="e.g. iPhone 13 Pro">
        </div>
        <div class="form-group">
            <label for="location">Where you found it</label>
            <input type="text" class="form-control" name="location" placeholder="e.g. canteen">
        </div>
        <div class="form-group">
            <label for="time_date">Time & Date</label>
            <input type="text" class="form-control" name="time_date" placeholder="Select time and date">
        </div>

        <div class="form-group">
            <label for="description">Item's Description</label>
            <textarea class="form-control" name="description" id="editor-1"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-md">Post</button>

        <script>
            CKEDITOR.replace('editor-1');
        </script>
    </form>

    <footer class="site-footer">

        <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
        </a>

        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Search Trending</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Web Developers</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Contact Us</h3>
                    <div class="footer-social">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">
                    <p class="copyright"><small>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- SCRIPTS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/stickyfill.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/chatbot.js' %}"></script>


</body>
</html>