{% load static %}
<section class="bg-light pt-5 testimony-full">

    <div class="owl-carousel single-carousel">


        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Your work is going to fill a large part of your life, and the only way to be truly
                            satisfied is to do what you believe is great work. And the only way to do great work is
                            to love what you do.&rdquo;</p>
                        <p><cite> &mdash; Machine Learning & Software Engineer, @SmartUIU</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="{% static 'images/redwan.jpg' %}" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Keep your face always toward the sunshine, and shadows will fall behind
                            you.&rdquo;</p>
                        <p><cite> &mdash; Software Quality and Testing Assurance, @SmartUIU</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="{% static 'images/koushik.jpg' %}" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Your work is going to fill a large part of your life, and the only way to be truly
                            satisfied is to do what you believe is great work. And the only way to do great work is
                            to love what you do.&rdquo;</p>
                        <p><cite> &mdash; Machine Learning & Software Engineer, @SmartUIU</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="{% static 'images/redwan.jpg' %}" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Keep your face always toward the sunshine, and shadows will fall behind
                            you.&rdquo;</p>
                        <p><cite> &mdash; Software Quality and Testing Assurance, @SmartUIU</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="{% static 'images/koushik.jpg' %}" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Keep your face always toward the sunshine, and shadows will fall behind
                            you.&rdquo;</p>
                        <p><cite> &mdash; Software Quality and Testing Assurance, @SmartUIU</cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="{% static 'images/koushik.jpg' %}" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>


    </div>

</section>
